.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.AppContent {
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.AlbumLib {
    width: calc(90vw - 300px);
}

.AppSidebar {
    width: 300px;
    gap: 10px;

    /*position: fixed;*/
    /*top: 80px;*/
    /*right: 0;*/
    /*z-index: 1000;*/
    /*margin-right: 30px;*/
    /*overflow: scroll;*/

    /*!*When overflow in height, let it be scrollable.*!*/
    /*max-height: calc(100vh - 80px);*/
    /*overflow-y: auto;*/
}

.Selectors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.Bold {
    font-weight: 700;
}

.LightBold {
    font-weight: 500;
    color: #404040;
}

.FavoriteRow {
    margin-bottom: 5px;
}

.HiddenLabel {
    display: none;
}

@media (max-width: 600px) {
    .AppContent {
        flex-direction: column-reverse;
    }

    .AlbumLib, .AppSidebar {
        width: 90vw;
    }

    /*.AppSidebar {*/
    /*    gap: 10px;*/
    /*    margin-right: 0;*/

    /*    position: unset;*/
    /*    max-height: unset;*/
    /*}*/
}

