.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.AppContent {
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.AlbumLib {
    width: 65vw;
}

.AppSidebar {
    width: 27vw;
    gap: 10px;
}

.Selectors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.Bold {
    font-weight: 700;
}

.LightBold {
    font-weight: 500;
    color: #404040;
}

.FavoriteRow {
    margin-bottom: 5px;
}